# macOS
.DS_Store

# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Large dataset/feature arrays
baseball/pitch-prediction/EDA/mlb_pitches_eda.csv

baseball/pitch-prediction/feature-engineering/*.npy
baseball/pitch-prediction/models/lstm/*.npy
